.chat-leftsidebar {
  height: 100vh;
  background-color: var(--bs-sidebar-sub-bg);
}
@media (min-width: 992px) {
  .chat-leftsidebar {
    min-width: 380px;
    max-width: 380px;
  }
}
.user-profile-desc {
    height: calc(100vh - 300px)
}

@media(max-width: 991.98px) {
    .user-profile-desc {
        height:calc(100vh - 324px)
    }
}
.custom-accordion .card+.card{margin-top:.5rem}
.card-header {
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
    color: var(--bs-card-cap-color);
    margin-bottom: 0;
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
}
