/* =========================================================
   GLOBAL APP
   ========================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--body-font-family);
  color: var(--body-font-color);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(139, 92, 246, 0.18),
      transparent 35%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(34, 211, 238, 0.1),
      transparent 35%
    ),
    var(--body-background-color);
}
.dropdown-toggle.arrow-none::after,
.dropup .dropdown-toggle.arrow-none::after,
.dropend .dropdown-toggle.arrow-none::after {
  display: none !important;
}
.dropstart .dropdown-toggle.arrow-none::before {
  display: none !important;
}
/* =========================================================
   INPUTS / SELECT / TEXTAREA / RADIO / CHECKBOX / BUTTONS
   ========================================================= */
/* Input / Select / Textarea */
.form-control:focus,
.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* Radio / Checkbox */
.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-outline-primary {
  border-color: transparent;
  color: var(--bs-primary);
}
.btn-outline-primary:hover {
  border-color: transparent;
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.08);
}
.btn-outline-primary:focus,
.btn-outline-primary:active {
  border-color: transparent !important;
  box-shadow: none;
}
.font-size-14 {
    font-size: 14px !important;
}
.badge-soft-danger {
    color: #ef476f;
    background-color: rgba(239, 71, 111, .18);
}
