/* =========================================================
   BODY
   ========================================================= */

body {
  min-height: 100vh;
  margin: 0;

  font-weight: 400;
  font-family: var(--bs-font-family);

  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

.chat-brand-status.is-online {
  color: var(--bs-success);
}

.chat-brand-status.is-offline {
  color: var(--bs-warning);
}
