.app-scrollbar {
  height: 100vh;
}

/* Размер scrollbar */
.app-scrollbar .simplebar-scrollbar::before {
  left: 1px;
  right: 1px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Показываем при наведении */
.app-scrollbar:hover .simplebar-scrollbar::before {
  opacity: 0.25;
}

/* При прокрутке SimpleBar сам добавляет .simplebar-hover */
.app-scrollbar .simplebar-scrollbar.simplebar-visible::before {
  opacity: 0.25;
}

/* Track прозрачный */
.app-scrollbar .simplebar-track {
  background: transparent;
}

/* Вертикальный scrollbar */
.app-scrollbar .simplebar-track.simplebar-vertical {
  width: 5px;
  right: 2px;
}

/* Горизонтальный */
.app-scrollbar .simplebar-track.simplebar-horizontal {
  height: 5px;
  bottom: 2px;
}